<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Gallery</title>
</head>
<body>
    <div class="container">
        <button class = new-btn type="button" onclick="location.href='/new'">
            Add Desk Setup
        </button>
        <br>
        <%for (let i = 0; i < desks.length; i++) {%>
            <a href="/<%=desks[i].id%>">
                <img width="500px" src="<%=desks[i].image%>">
                <br>
                <%=desks[i].submitter%>'s Deskspace
              </a>
              <br><br>
        <% } %>
    </div>
</body>
</html>