<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Deskspace Gallery</title>
</head>
<body>
    <%- include ("../partials/header.ejs") %>
    <div class="container">
        <div class="index">
            <h1>Does your deskspace need a glo-up?</h1>
            <h2>Do you want to improve your workflow?</h2>
            <h2>Need some inspiration?</h2>
            <h1>Say less.</h1>
        </div>
        <br>
        <button 
        class = btn 
        type="button" 
        onclick="location.href='/gallery'">
            See Gallery
        </button>
        <br>
        <button 
        class = btn 
        type="button" 
        onclick="location.href='/new'">
            Add Desk Setup
        </button>
    </div>
    <%- include ("../partials/footer.ejs") %>
</body>
</html>